*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}

main{
    
}

.header {
    position: fixed;
    background-image: url('../img/background\ gif.gif');
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    height: 7rem;
}

#section-home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    min-height: 500px;
   
}

#text-home{
    margin-top: 7rem;
    font-size: 17px;
    margin-left: 50px;
   
}

#img-cro{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25rem;
    border-radius: 6vh;
    margin-top: 20rem;
    box-shadow:1px 5px 5px 5px #844fff1e;
}

button{
    margin-left: 50%;
   margin-bottom: 5rem;
   display: inline-block;
   border-radius: 4px;
   background-color: #4A2272;
   box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.705);
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 28px;
   padding: 20px;
   width: 200px;
   transition: all 0.5s;
   cursor: pointer;
  
}

button:hover {
    padding-right: 25px;
    background-color: #381957;
  }
  


#footer{
    margin-top: 6.2rem;
    background-image: url('../img/background\ gif.gif');
    color: white;
    width: 100%;
    height: 157px;
}

@media screen and (max-width: 700px) {
   button{ 
    margin-top: 5rem;
    margin-left: 250px;
   }
  }
  
  @media screen and (max-width: 1299px) {
   
  }
  
  @media screen and (max-width: 1377px) {
    
  }